<div id="page-title">
  Edit Expense
</div>

<%= simple_form_for @income, ur: income_path(@income) do |f| %>
  <%= f.input :description %>
  <%= f.input :amount %>
  <%= f.input :increment_interval, collection: [["one-tiime"], ["weekly"], ["monthly"]], selected: "one-time" %>
  <%= f.input :income_date %>
  <%= f.button :submit %>
<% end %>

<div class="clear-nav"></div>