<!-- splash lading page -->
<div id="splash">
  <div id="splash-content">
    <i class="ton-li-flag-1 lg" id="circle-lg"></i>
  </div>
  <div id="splash-title">Goal Keeper</div>
  <div id="splash-sub">your financial goaltender</div>
</div>

<!-- home page -->
<div class="budget">
  <div class="title">
    Today's remaining budget
  </div>
  <div class="amount-left">
    <span>$102</span>/144
  </div>
  <hr/>
  <div class="weekly-outer">
    <%= render partial: "goals/weekly" %>
  </div>

<!-- current-goal section -->
  <%= link_to goal_path(@goal), class: "curent-goal" do %>
    <div class="current-goal" id="goal-<%= @goal.id %>">
      <div class="frame">
        <div class="shader">
          <div id="current-title">
            <%= @goal.title %>
          </div>
        </div>
        <div class="shader" id="goal-target">
          <div id="due">Due:
            <span><%= @goal.due_date.strftime("%a, %b %m, %Y") %></span>
          </div>
          <div id="budget">Budget:
            <span><%= number_to_currency(@goal.amount, precision: 0) %></span>
          </div>
        </div>
        <% if @goal.filepicker_url.blank? %>
          <%= image_tag("placeholder.png", width: "100%", alt: "Photo Placeholder") %>
        <% else %>
            <%= filepicker_image_tag @goal.filepicker_url %>
        <% end %>
      </div>
    </div>
  <% end %>
  <div class="clear-nav">
</div>
