<div id="page-title">
  Edit Expense
</div>

<div class="expense-title">
<%= simple_form_for @expense do |f| %>
  <%= f.input :description, placeholder: "Tocobell", required: false , autofocus: true %>
  <%= f.input :transaction_date, required: false %>
  <%= f.input :amount, placeholder: "$7.23", required: false %>
  <%= f.input :category, :collection => 
                        [ 'Auto & Transportation',
                          'Food & Dining',
                          'Entertaiment',
                          'Bills & Utilities',
                          'Investments',
                          'MISC'],
                        required: false %>
  <%= f.submit "create new expense" %>
<% end %>

<div class="clear-nav"></div>