<!DOCTYPE html>
<html>
<head>
  <title>FinanceApp</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= filepicker_js_include_tag %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="body-inner">
    <%= render "layouts/header" %>
    <%= yield %>
    <%= render "layouts/nav" %>
  </div>
</body>
</html>
